@{ 
    List<CartItem> cartItems = Context.Session.GetObject<List<CartItem>>("Cart");
    var count = 0;
    var sumPrice = 0.0;
    if (cartItems?.Count>0)
    {
        count = cartItems.Count;
        sumPrice = cartItems.Sum(item => item.Price);
    }
    var user = Context.Session.GetObject<Customer>("user");
}
<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 text-center text-lg-left">
                <!-- logo -->
                <a href="./index.html" class="site-logo">
                    <img src="~/divisima/img/logo.png" alt="">
                </a>
            </div>
            <div class="col-xl-6 col-lg-5">
                <form class="header-search-form">
                    <input type="text" placeholder="Search on divisima ....">
                    <button><i class="flaticon-search"></i></button>
                </form>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="user-panel">
                    <div class="up-item">
                        <i class="flaticon-profile"></i>
                        @if (user != null)
                        {
                            <a href="#">Hi @user.CustomerName</a>
                        }
                        else
                        {
                            <a asp-action="SignIn" asp-controller="Login" asp-route-returnUrl="@Context.Request.Path">Đăng nhập</a> @*<b>or </b><a href="#">Create Account</a>*@
                        }
                    </div>
                    <div class="up-item">
                        <div class="shopping-card">
                            <i class="flaticon-bag"></i>
                            <span>@count</span>
                        </div>
                        <a href="#" id="cart">Shopping Cart</a>
                    </div>
                    <div class="container" style="z-index:20;position:absolute;">
                        <div class="shopping-cart" style="display:none">
                            <div class="shopping-cart-header">
                                <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">@count</span>
                                <div class="shopping-cart-total">
                                    <span class="lighter-text">Total:</span>
                                    <span class="main-color-text">@sumPrice</span>
                                </div>
                            </div> <!--end shopping-cart-header -->

                            <ul class="shopping-cart-items">
                                @if (cartItems?.Count > 0)
                                {
                                    @foreach (var item in cartItems)
                                    {
                                        <li class="clearfix">
                                            <img src="~/Hinh/product/@item.Product.Images" alt="item1" width="50" height="50"/>
                                            <span class="item-name">@item.Product.ProductName</span>
                                            <span class="item-price">@item.Price</span>
                                            <span class="item-quantity">Quantity: @item.Quantity</span>
                                        </li>
                                    }
                                }



                            </ul>

                            <a class="button" asp-action="CheckOut" asp-controller="Cart">Checkout</a>
                        </div> <!--end shopping-cart -->
                    </div> <!--end container -->
                </div>
            </div>
        </div>
    </div>
</div>
