@model Tai.Models.ProductModels.ProductDetail
@{
    ViewData["Title"] = Model.ProductName;
}
@section metaSocial{
    <meta property="og:url" content="https://shopnhom.azurewebsites.net/chi-tiet/@Model.ProductName.ToUrlFriendly()" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.ProductName" />
    <meta property="og:description" content="@Model.ProductDescription" />
    <meta property="og:image" content="https://shopnhom.azurewebsites.net/Hinh/product/@Model.Images" />
}

<!-- Page info -->
<div class="page-top-info">
    <div class="container">
        <h4>Category PAge</h4>
        <div class="site-pagination">
            <a href="/">Home</a> /
            <a href="">Shop</a>
        </div>
    </div>
</div>
<!-- Page info end -->
<!-- product section -->
<section class="product-section">
    <div class="container">
        <div class="back-link">
            <a href="/banh"> &lt;&lt; Back to Category</a>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="product-pic-zoom">
                    <img class="product-big-img" src="~/Hinh/product/@Model.Images" alt="">
                </div>
                @*<div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
                                <div class="product-thumbs-track">
                                    <div class="pt active" data-imgbigurl="~/Hinh/product/@Model.Images"><img src="~/Hinh/product/@Model.Images" alt=""></div>
                                    <div class="pt" data-imgbigurl="~/Hinh/product/@Model.Images"><img src="~/Hinh/product/@Model.Images" alt=""></div>
                                    <div class="pt" data-imgbigurl="img/single-product/3.jpg"><img src="img/single-product/thumb-3.jpg" alt=""></div>
                    <div class="pt" data-imgbigurl="img/single-product/4.jpg"><img src="img/single-product/thumb-4.jpg" alt=""></div>
                                </div>
                            </div>*@
            </div>
            <div class="col-lg-6 product-details">
                <h2 class="p-title">@Model.ProductName</h2>
                <h3 class="p-price">@((Model.ProductPrice * (1 - Model.SaleOff / 100)).ToVnC())</h3>
                @if (Model.CheckInStock)
                {
                    <h4 class="p-stock">Available: <span>Còn hàng</span></h4>
                }
                else
                {
                    <h4 class="p-stock">Available: <span>Tạm hết</span></h4>
                }

                <div class="p-rating">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o fa-fade"></i>
                </div>
                <div class="p-review">
                    <a href="">3 reviews</a>|<a href="">Add your review</a>
                </div>
                @*<div class="fw-size-choose">
            <p>Size</p>
            <div class="sc-item">
                <input type="radio" name="sc" id="xs-size">
                <label for="xs-size">32</label>
            </div>
            <div class="sc-item">
                <input type="radio" name="sc" id="s-size">
                <label for="s-size">34</label>
            </div>
            <div class="sc-item">
                <input type="radio" name="sc" id="m-size" checked="">
                <label for="m-size">36</label>
            </div>
            <div class="sc-item">
                <input type="radio" name="sc" id="l-size">
                <label for="l-size">38</label>
            </div>
            <div class="sc-item disable">
                <input type="radio" name="sc" id="xl-size" disabled>
                <label for="xl-size">40</label>
            </div>
            <div class="sc-item">
                <input type="radio" name="sc" id="xxl-size">
                <label for="xxl-size">42</label>
            </div>
        </div>*@
                <div class="quantity">
                    <p>Quantity</p>
                    <div class="pro-qty"><input type="text" value="1"></div>
                </div>
                <a href="#" class="site-btn">SHOP NOW</a>
                <div id="accordion" class="accordion-area">
                    <div class="panel">
                        <div class="panel-header" id="headingOne">
                            <button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Thông tin sản phẩm</button>
                        </div>
                        <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="panel-body">

                                @foreach (var line in Model.ProductDescription.Split("."))
                                {
                                    <p>@line</p>
                                }

                            </div>
                        </div>
                    </div>
                    @*<div class="panel">
                <div class="panel-header" id="headingTwo">
                    <button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">care details </button>
                </div>
                <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="panel-body">
                        <img src="./img/cards.png" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-header" id="headingThree">
                    <button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">shipping & Returns</button>
                </div>
                <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="panel-body">
                        <h4>7 Days Returns</h4>
                        <p>Cash on Delivery Available<br>Home Delivery <span>3 - 4 days</span></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
                    </div>
                </div>
            </div>*@
                </div>
                @*<div class="social-sharing">
            <a href=""><i class="fa fa-google-plus"></i></a>
            <a href=""><i class="fa fa-pinterest"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-youtube"></i></a>
        </div>*@
                <div class="share-box">
                    <div id="fb-root"></div>
                    <script>
                        (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                    </script>
                    @*<div class="socials-box" data-href="https://shopnhom.azurewebsites.net/chi-tiet/@Model.ProductName.ToUrlFriendly()" data-layout="button_count"> <a href="#"><i class="fa fa-facebook"></i></a></div>*@
                    <div class="fb-share-button"
                         data-href="https://shopnhom.azurewebsites.net/chi-tiet/@Model.ProductName.ToUrlFriendly()"
                         data-layout="button_count">
                    </div>
                    <div class="sharethis-inline-share-buttons"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product section end -->
<!-- RELATED PRODUCTS section -->
<section class="related-product-section">
    <div class="container">
        <div class="section-title">
            <h2>Sản phẩm liên quan</h2>
        </div>
        <div class="product-slider owl-carousel">
            @foreach (var item in Model.ProductRelates)
            {
                @await Component.InvokeAsync("Item", new { product = item })
            }
        </div>
    </div>
</section>
<!-- RELATED PRODUCTS section end -->
