@model Tai.DataModels.Product


<div class="product-item">
    <div class="pi-pic">
        @if (Model.SaleOff > 0)
        {
            <div class="tag-sale">Sale(@Model.SaleOff %)</div>
        }
        <a href="/chi-tiet/@Model.ProductName.ToUrlFriendly()"><img src="~/Hinh/product/@Model.Images" alt="@Model.ProductName"></a>
        <div class="pi-links">
            <a href="#" onclick="AddToCart('@Model.ProductId')" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
        </div>
    </div>
    <div class="pi-text">
        <h6>@((Model.ProductPrice * (1 - Model.SaleOff / 100)).ToVnC())</h6>
        <p>@Model.ProductName</p>
    </div>
</div>
  